body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  border: 2px solid #ccc;
}

text {
  font-family: 'Montserrat', sans-serif;
}

.axis .domain {
}

.chart-header {
    font-size: 24px;
}

.x .tick text {
  font-size: 1rem;
}

.y .tick text {
  font-size: 1rem;
}
